.Form{
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    background: white;
}

.Form button{
    width: 100px;
    margin: 10px 200px 10px 200px;
    border-radius: 4px;

}